<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- Logs rolling configuration properties -->
    <property name="console_pattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n"/>
    <property name="file_pattern" value="%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n"/>
    <property name="logging.path" value="${logging.path:-./logs}"/>
    <property name="logging.file" value="${logging.file:-atm-service}"/>
    <property name="rolling.date.pattern" value="%d{yyyy-MM-dd}"/>
    <property name="rolling.log.pattern" value="${rolling.date.pattern}.log.%i"/>
    <property name="rolling.err.pattern" value="${rolling.date.pattern}.err.%i"/>
    <property name="rolling.file.size" value="100MB"/>

    <!-- Console appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <!-- file appender -->
    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logging.path}/${logging.file}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.file}.${rolling.log.pattern}</fileNamePattern>
            <maxFileSize>${rolling.file.size}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${file_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <appender name="rolling-err" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <file>${logging.path}/${logging.file}.err</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.file}.${rolling.err.pattern}</fileNamePattern>
            <maxFileSize>${rolling.file.size}</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${file_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.jdbc.core" level="INFO"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO"/>
    <logger name="org.apache" level="INFO"/>

    <logger name="com.interview.atm.services" level="DEBUG"/>
    <logger name="com.interview.atm.controllers" level="DEBUG"/>
    <logger name="com.interview.atm.integration" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="sentry" />-->
<!--        <appender-ref ref="rolling"/>-->
<!--        <appender-ref ref="rolling-err"/>-->
    </root>

</configuration>